# Add files here to ignore them from prettier formatting

/dist
/coverage

*.js
*.js.map
*.d.ts
*.md
*.min.*

**/.idea
**/.ng_pkg_build
**/.vscode
node_modules

/libs/gen

# package.json
# angular.json
# angular.json
# nx.json
# tsconfig*
# jest.config.js

